.guide {
  background-color: #fee600;
  padding: 70px;
  justify-content: center;
}

.h1 {
  font-family: 'Telegraf UltraBold 800';
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.para {
  font-family: 'Telegraf Regular 400';
  margin-top: 20px;
  font-size: 21px;
  text-align: center;
}


@media (max-width: 768px) {
  .guide {
    padding-top: 20%;
    padding-bottom: 20%; 
  }

  .h1 {
    font-size: 28px;
    margin-top: 50px; 
  }

  .para {
    font-size: 15px; 
  }
}
