.promotion {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  background-color: #fee600;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;  
}

.imageContainer1 {
  width: 100%; 
  height: 100vh;
  background-image: url("/image/promotion.png");
  background-position: center;
  background-size: cover;
}


.promotionMain{
  display: flex;
  padding-left: 10%;
  justify-content: center;
  flex-direction: column;
}

.h1{
  font-family: 'Telegraf UltraBold 800';
  font-size: 65px;
}

.para {
  font-family: 'Telegraf Regular 400';
  margin-top: 20px;
  font-size: 28px;
  line-height: 1.5em;
  font-weight: normal;
}

.button {
  font-family: 'Telegraf UltraBold 800';
  background-color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 21px;
  margin-top: 20px;
  width: 20%;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .promotion {
    grid-template-columns: 1fr;
    padding: 5%;
    gap: 20px;
   
  }
  
  .promotionMain {
    padding: 0%; 
  }
  
  .button {
    width: 40%; 
    padding: 10px; 
    font-size: 18px; 
  }

}

@media screen and (max-width: 480px) {
  .h1 {
    font-size: 40px;
     
  }
  
  .para {
    font-size: 18px; 
  }
}  

